*{
    margin: 0;
    padding:0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a{
    transition: 1s;
}

.topnav a:hover {
    background-color: #0c7939;
}


    
body{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100vw;
}

.Imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NossosComponentes{
    display: flex;
    flex-direction: column;
    width: 339px;
}
