*{
  margin: 0;
  padding: 0;

}

body{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ebe8e8;
    width: 100vw;
}

a:visited,a{
    color: rgba(71, 3, 160, 0.774);
}
figure{
  width: 100%;
}

figcaption{
    color: rgba(51, 49, 49, 0.795);
    font-style: oblique;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  z-index: 1;
  margin: auto;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 1s;
}

.topnav a:hover {
  background-color: #527b9f;
  
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' -25,
  'opsz' 24
}

section{
 display: flex;
 flex-direction: column;
 justify-content: center;

}

.Titulos {
    color:  #527b9f;
    font-family: 'Jost', sans-serif;
    margin-bottom: 25px;
    font-size: 2em;
}

.Titulos h1{
    color: #527b9f;
    font-family: 'Jost', sans-serif;   
    font-size: 60px;  
}

.Conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    border-radius: 30px;
}

.Grafico{
width: 70%;
}

.Img-Carrosel{
  width: 90%;
}

.Textos{
    font-family: 'Muli',sans-serif;
    font-size: 18px;
    color: rgb(83, 83, 83);
    width: 100%;
}


.Imagens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: #527b9f;
    padding: 20px;
}

#Imagem{
display: flex;
align-items: center;

}

.NossosComponentes{
    display: flex;
    justify-content: center;
    width: 70%;
}

.NossosComponentes img{
    margin: 0px 15px;
}




/*
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  */

